<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar class="head">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
            (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <img src="/assets/keep.png" class="keepimg">
        <span>Fundoo</span>
        <div class="searchbox">
            <img src="/assets/search.svg" class="icons">
            <input class="search" type="search" placeholder="Search...">
        </div>
        <div class="btns5box">
            <div class="icons3">
                <button mat-icon-button>
                    <img class="icon" src="/assets/refresh.svg">
                </button>
                <button mat-icon-button>
                    <img class="icon" src="/assets/agenda.svg">
                </button>
                <button mat-icon-button>
                    <img class="icon" src="/assets/setting.svg">
                </button>                
            </div>
            <div class="icons2">
                <button mat-icon-button>
                    <img class="icon" src="/assets/apps.svg">
                </button>
                <button mat-icon-button>
                    <img class="icon" src="/assets/account.svg">
                </button>                
            </div>
        </div>
    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56" class="sidenav">
            <mat-nav-list>
                <mat-list role="list" class="hide">
                    <div class="icontxt">
                        <img src="/assets/bulb.svg" class="sidenavicon">
                        <mat-list-item role="listitem" class="sidenavtxt" style="cursor: pointer;" routerLink="/dashboard/getallnotes"><span >Notes</span> </mat-list-item>
                    </div>
                    <div class="icontxt">
                        <img src="/assets/notify.svg" class="sidenavicon">
                        <mat-list-item role="listitem" class="sidenavtxt" style="cursor: pointer;">Remainder</mat-list-item>
                    </div>
                    <div class="icontxt">
                        <img src="/assets/pen.svg" class="sidenavicon">
                        <mat-list-item role="listitem" class="sidenavtxt" style="cursor: pointer;">Edit Label</mat-list-item>
                    </div>
                    <div class="icontxt">
                        <img src="/assets/archive.svg" class="sidenavicon">
                        <mat-list-item role="listitem" class="sidenavtxt" style="cursor: pointer;">Archive</mat-list-item>
                    </div>
                    <div class="icontxt">
                        <img src="/assets/trash.svg" class="sidenavicon">
                        <mat-list-item role="listitem" class="sidenavtxt" style="cursor: pointer;">Bin</mat-list-item>
                    </div>
                </mat-list>
            </mat-nav-list>
        </mat-sidenav>
        <div class="routerdisplay">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-container>
</div>