<div class="container">
    <form [formGroup]="createNotesForm" (ngSubmit)="onSubmit()">
        <div class="box1" *ngIf="!togglenotes" (click)="takenote1()">
            <div class="notebox1">
                <div class="inputbox">
                    <input type="text" class="input" placeholder="Take a note...">
                </div>
                <div class="imgs">
                    <button mat-icon-button>
                        <img src="/assets/check.svg">
                    </button>
                    <button mat-icon-button>
                        <img src="/assets/brush.svg">
                    </button>
                    <button mat-icon-button>
                        <img src="/assets/image.svg">
                    </button>
                </div>
            </div>
        </div>
        <div class="box1" *ngIf="togglenotes">
            <div class="notebox2">
                <div class="boxtitle">
                    <div class="inputbox2">
                        <input type="text" class="inputtitle" placeholder="Title" formControlName="title">
                    </div>
                    <div>
                        <button mat-icon-button>
                            <img src="/assets/pin.svg">
                        </button>
                    </div>
                </div>
                <div class="boxdesc">
                    <textarea name="text" placeholder="Take a note" class="txtareabox"
                        formControlName="description"></textarea>
                </div>
                <div class="iconclosebtn">
                    <div class="icons">
                        <app-icons></app-icons>
                    </div>
                    <div class="closebtn">
                        <button mat-flat-button type="submit">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>