.mainNote{
    height: 145px;
    width: 280px;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    border: 1px solig gray;
    box-shadow: 1px 2px 5px gray;
}
.innerbox{
    height: 100%;
    font-size: large;
}
.titlepinbox{
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    font-size: 20px;
    color: gray;
}
.img{
    height: 25px;
    width: 25px;
}
.descbox{
    margin-top: 5px;
    height: 55px;
    display: flex;
    justify-content: flex-start;
}
.iconscomp{
    margin-left: -5px;
}